.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    .logo {
        display: flex;
        align-items: center;
    }
    .menu-icon {
        font-size: 3rem !important;
    }
    .cart-icon {
        margin-right: 0.5rem;
        @include fluid-font(18px,25px);
        justify-self: flex-start;
    }
    .title-main {
        font-weight: 300;
        padding: 0 1rem;
        @include fluid-font(20px,25px);
    }
    .btn-auth {
        font-weight: 300;
        @include fluid-font(14px,16px);

    }
   
}

.sidenav {
       .category {
        padding: 1rem 3rem;
   }
}



