img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1368px;
    margin: 0 auto;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    clear: both;
}