* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
}

html, body {
    font-size: 10px;
    scroll-behavior: smooth;
    outline: none;
    font-family: 'Roboto', sans-serif;
}